*.sqlite3
__pycache__
celerybeat-schedule
venv

.env
demo/.env
*.pkl
demo/main.py

demo/dump.rdb
demo/campaign/dumps.py


demo/campaign/__pycache__/
demo/campaign/*/__pycache__/
demo/campaign/dumps.py
demo/campaign/*/*/__pycache__/
demo/campaign/*/*/*/__pycache__/