.venv
.env.sample
# Git
.git
.gitignore
.env

# Docker
.docker

# Python
campaign/__pycache__/
campaign/*/__pycache__/
campaign/*/*/__pycache__/
campaign/*/*/*/__pycache__/
.venv/
venv/

# Local PostgreSQL data
data/

campaign/main.py